html,body{
  background-color: black;
}

.App {
  text-align: center;
  margin: 20%;
  font-size: larger;  
  background-color:beige;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 35%;
  margin-right: 35%;
  

}

h1 {
  color:darkgreen;
  font-family:Helvetica;
}

button {
  border: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  background-color: darkgreen;
  color: white;
  margin-left: 3px;
  font-family:'Verdana';
  cursor: pointer;

}

button:hover {
  background-color: black;
}

input {
   border-radius: 5px;
   padding: 5px;
   color: black;
   font-size: 15px;
   border-color: black;
   display: inline-flex;
}

p {
  color: black;
  text-align: center;
  
}




